.DS_Store
Thumbs.db
node_modules/
*.log
.vscode/
.idea/

js-min/

# Capacitor
dist/
android/.gradle/
android/build/
android/app/build/
android/captures/
android/local.properties
android/app/release/
ios/App/build/
ios/App/Pods/
ios/App/.gradle/
